@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Staatliches&display=swap");

// Colours
$main-background-col: rgb(46, 49, 58);
$accnet-blue-col: rgb(75, 155, 155);
$light-accent-blue-col: rgb(83, 178, 223);
$light-accent-blue-col-hover: rgb(70, 148, 184);
$border-col: rgb(106, 155, 196);
$header-light-blue: rgb(161, 210, 223);

$light-text-col: rgb(248, 248, 248);
$dark-text-col: rgb(60, 61, 70);
$dark-grey-text-col: grey;

// Fonts
$body-font: "Source Sans Pro", sans-serif;
$header-font: "Staatliches", cursive;

// General Screen widths
$width-1: 1086px;
$width-2: 520px;
$width-iphone-1:390px;

// Single Screen widths 
$footer-width-1:680px;
$nav-width-1:600px;